spring:
  neo4j:
    uri: neo4j://127.0.0.1:7687
    authentication:
      username: neo4j
      password: password
  ai:
    vectorstore:
      neo4j:
        initialize-schema: true
        embedding-dimension: 1024
    chat:
      observations:
        log-completion: false
    ollama:
      base-url: http://localhost:11434 # http://192.168.178.87:11434 #
      embedding:
        model: bge-m3:latest
      chat:
        model: gemma3:12b # gemma3:4b # gemma3:4b qwen3 gemma3 llama3.1 granite3.3:8b gemma3:4b # gpt-oss:20b
      init:
        pull-model-strategy: always
        timeout: 300s
        max-retries: 1
        embedding:
          additional-models:
          - bge-m3:latest



ai-desk:
  docker: /usr/local/bin/docker

logging:
  level:
    org.sterl.ai.desk: debug